.features
{
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-ul {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.card
{
    width: 264px;
        max-width: 264px;
}

.title-features {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text 
{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.features .container
{
    flex-direction: column;
}

.picture-f-es
{
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
}

.icon-features
{
    fill: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
}

