.hero
{
background-color: #2E2F42; 
border: 1px solid #000;
    padding-block: 188px;
    padding-inline: 0px;
    flex-direction: column;
   
}

.hero .container {
    flex-direction: column;
    gap: 48px;
     align-items: center;
    display: flex;
        justify-content: center;
}

.title
{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px; 
color: #fff;
text-align: center;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin: 0 auto;
}

.button
{
    background-color: #4D5AE5;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    ;
}

.button:hover,
.button:focus 
{
background-color: #404bbf;
}
